body {
	text-align: center;
	text-decoration: none;
	font-family: arial;
	background: url("http://i.imgur.com/SMRSec0l.png");
	background-size: cover;
	margin: 0px 100px 0px 100px;
	color: white;
	padding-top: 190px;
}

img.resize {
	width: 300px;
	height: 100px;
}

.header {
	font-size: 25px;
}

hr {
	width: 380px;
}

h3 {
	font-size:15px;
}

.paper {
	position: fixed;
	bottom:1px;
	right:20px;
	opacity: .1;
}
